<header></header>
<div class="container">
  <h1 class="text-white">Logiware Rates</h1>
  <form [formGroup]="form">
      <div class="row">
        <div class="col col-6 input-group mb-3 input-group-sm float-left">
          <div class="input-group-prepend">
            <span class="input-group-text">Carrier</span>
          </div>
          <input type="text" formControlName="carrier" placeholder="Enter Carrier Name.." [typeaheadAsync]="true"
            [typeahead]="carriers" [typeaheadItemTemplate]="typeaheadTemplate"
            (typeaheadOnSelect)="typeaheadOnSelect($event, 'scac')" [typeaheadOptionsLimit]="10"
            [typeaheadScrollable]="true" [typeaheadMinLength]="1" adaptivePosition="true" typeaheadOptionField="key"
            class="form-control" autocomplete="off">
        </div>
        <div class="col col-6 input-group mb-3 input-group-sm float-left">
          <div class="input-group-prepend">
            <span class="input-group-text">SCAC</span>
          </div>
          <input type="text" formControlName="scac" placeholder="Enter Carrier SCAC.." [typeaheadAsync]="true"
            [typeahead]="scacs" [typeaheadItemTemplate]="typeaheadTemplate"
            (typeaheadOnSelect)="typeaheadOnSelect($event, 'carrier')" [typeaheadOptionsLimit]="10"
            [typeaheadScrollable]="true" [typeaheadMinLength]="1" adaptivePosition="true" typeaheadOptionField="key"
            class="form-control" autocomplete="off">
        </div>
      </div>
      <div class="row">
        <div class="col col-6 input-group mb-3 input-group-sm float-left">
          <div class="input-group-prepend">
            <span class="input-group-text">From Date</span>
          </div>
          <input type="text" formControlName="fromDate" placeholder="Enter From Date.."
            #fromDatePicker="bsDatepicker" bsDatepicker class="form-control">
        </div>
        <div class="col col-6 input-group mb-3 input-group-sm float-left">
          <div class="input-group-prepend">
            <span class="input-group-text">To Date</span>
          </div>
          <input type="text" formControlName="toDate" placeholder="Enter To Date.." #toDatePicker="bsDatepicker"
            bsDatepicker class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col col-12 text-center">
          <input type="submit" value="Search" class="btn btn-success" (click)="search($event);">
          <input type="button" value="Clear" class="btn btn-danger" (click)="clear($event);">
          <input type="submit" value="Goto Load" class="btn btn-warning" (click)="load($event);">
        </div>
      </div>
      <div class="row">
        <div class="col col-12 mt-3" *ngIf="results?.length > 0">
          <div class="bg-warning">List of Loaded Files</div>
          <table class="table fixed-header-table table-striped table-bordered w-100 bg-white">
            <thead>
              <tr>
                <th class="col col-1">Carrier</th>
                <th class="col col-1">SCAC</th>
                <th class="col col-1">Effective Date</th>
                <th class="col col-1">Expiration Date</th>
                <th class="col col-3">Filename</th>
                <th class="col col-2">Loaded Date</th>
                <th class="col col-2">Sites</th>
                <th class="col col-1">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let result of results;">
                <td class="col col-1">{{result.carrier}}</td>
                <td class="col col-1">{{result.scac}}</td>
                <td class="col col-1">{{result.effectiveDate}}</td>
                <td class="col col-1">{{result.expirationDate}}</td>
                <td class="col col-3">{{result.filename}}</td>
                <td class="col col-2">{{result.loadedDate}}</td>
                <td class="col col-2">{{result.sites}}</td>
                <td class="col col-1"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ng-template #typeaheadTemplate let-model="item" let-index="index">
        <h5>{{model.key}} <--> {{model.value}}</h5>
      </ng-template>
    </form>
</div>